@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Make chart canvas fill its parent */
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

select:hover {
    border-color: #38bdf8; /* sky-400 */
    cursor: pointer;
  }
  